@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #0e7e12;
  padding: 50px;
}
#box {
  background: white;
  font-size: 72px;
  max-width: 20rem;
  border-radius: 10px;
  height: 5em;
}
.red-suite {
  color: red;
}
.top {
  display: flex;
  justify-content: start;
}
.mid {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: start;
}
.rotate {
  transform: rotate(180deg);
}

/*<!--♦♥♠♣--->*/
